<footer>
         <div class="container">	
             <div class="footer_modules">
                 <div class="homebuilder clearfix ">
                    <div class="tm-container ">
                           <div class="tm-inner">
                          <div class="row row-level-1 ">
                             <div class="row-inner  clearfix">
                              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                                <div class="col-inner ">
                                    <h4 class="box-heading">Information</h4>
                        <ul class="box-content list-unstyled">
                      <li><a href="">About Us</a></li>
                      <li><a href="">Delivery Information</a></li>
                      <li><a href="">Privacy Policy</a></li>
                      <li><a href="">Terms &amp; Conditions</a></li>
                      </ul>		
                     </div>
                     </div>
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                      <div class="col-inner ">
    <h4 class="box-heading">Customer Service</h4>
    <ul class="box-content list-unstyled">
    <li><a href="">Contact Us</a></li>
    <li><a href="">Returns</a></li>
    <li><a href="">Site Map</a></li>
    <li><a href="">Blog</a></li>			
    </ul>
    </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
    <div class="col-inner ">
    <h4 class="box-heading">Extras</h4>
    <ul class="box-content list-unstyled">
    <li><a href="">Brand</a></li>
    <li><a href="">Gift Vouchers</a></li>
    <li><a href="">Affiliates</a></li>
    <li><a href="">Specials</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
    <div class="col-inner ">
    <h4 class="box-heading">My Account</h4>
    <ul class="box-content list-unstyled">
    <li><a href="">My Account</a></li>
    <li><a href="">Order History</a></li>
    <!-- <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-20634/index.php?route=account/wishlist">Wish List</a></li> -->
    <li><a href="">Wish List</a></li>
    <li><a href="">Newsletter</a></li>
    </ul>
    </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 ">
   <div class="col-inner ">
   <h4 class="box-heading">Contact Us</h4>
    <div class="box-content footer_box">
    <address>
        <p>
            <i class="material-icons-location_on"></i><a class="footer-link" href="//www.google.com/maps/?q=40.6700,+-73.9400" target="_blank">My Company Tdayya D04 89GR</a><br>
            <i class="material-icons-phone"></i><a class="footer-link" href="callto:9626828691">9626828691</a><br>
            <i class="material-icons-email"></i><a href="mailto:livetdayya-admin@monster.me ">livetdayya-admin@monster.me</a><br>
            <i class="material-icons-access_time"></i>7 days a week from 8:00 am to 5:00 pm
        </p>
    </address>
    </div>
  <div class="module-social">
    <div class="social-block">
            <div class="box-content">
            <p>													
        </p>
        
            <ul class="social-list list-unstyled">
                
                <li><a class="fa fa-facebook" href="//www.facebook.com/zemezlab/" data-toggle="tooltip" title="" data-original-title="Facebook"></a></li>
                 
                <li><a class="fa fa-twitter" href="//twitter.com/zemezlab" data-toggle="tooltip" title="" data-original-title="Twitter"></a></li>
                 
                <li><a class="fa fa-google-plus" href="//plus.google.com/+TemplateMonster" data-toggle="tooltip" title="" data-original-title="Google+ "></a></li>
                 
            </ul>
             
        </div>
    </div>
    </div>
   </div>
    </div>
    </div>
  </div>
     </div>
            </div>
                    </div>
       </div>
                                            
    </div>
    <div class="copyright">
    <div class="container">Powered By <a href="http://www.tdayya.com">Tdayya</a><br> Online Arts Store © 2019</div></div>
    </footer>